---
layout: bootcamp
root: .
venue: Women in Science and Engineering
address: Lawrence Berkeley National Laboratory, Berkeley, California
country: United-States
humandate: Apr 14-15, 2014
humantime: 9:00 am - 4:30 pm
startdate: 2014-04-14
enddate: 2014-04-15
latlng: 37.8734481,-122.2563972
registration: open
instructor: ["Katy Huff, Rachel Slaybaugh, Azalee Bostroem, Cindee Madison, 
Jessica Kerr, Molly Gibson, and Suzanne Kiihne"] 
contact: admin@software-carpentry.org
---

<!--
    This block includes the Eventbrite registration widget if 'eventbrite' has been set in the header.
-->
{% if page.eventbrite %}
<iframe src="http://www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt" frameborder="0" width="100%" scrolling="auto"></iframe>
{% endif %}

<h2>General Information</h2>

<p>
  <a href="http://software-carpentry.org">Software Carpentry</a>'s mission
  is to help scientists and engineers become more productive
  by teaching them basic lab skills for computing
  like program design, version control, data management, and task automation.
  This two-day hands-on bootcamp will cover basic concepts and tools;
  participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>

<h2>Instructors</h2>

<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/bostroem.a.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/gibson.molly.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/huff.k.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/kerr.j.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/slaybaugh.rachel.html %}</div>
  <div class="span6" style="padding-bottom:15px">
    Plus
    <span class="person">Suzanne Kiihne</span>
    and
    <span class="person">Cindee Madison</span>.
  </div>
</div>

<!--
    Modify this block to reflect the target audience for your bootcamp.
    In particular, if it is only open to people from a particular institution,
    or if specialized prerequisite knowledge is required, please mention that.
-->
<p>
  <strong>Who:</strong>
  The course is aimed at female postgraduate students and other scientists who 
  are familiar with basic programming concepts (like loops, conditionals, 
  arrays, and functions) but need help to translate this knowledge into 
  practical tools to help them work more productively.
</p>

<!--
    This block displays the address and links to a map showing directions.
-->
{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{ page.address }}.
  Get directions with
  <a href="http://www.openstreetmap.org/?mlat={{ page.latlng | replace:',','&mlon=' }}&zoom=16">OpenStreetMap</a>
  or
  <a href="http://maps.google.com/maps?q={{ page.latlng }}">Google Maps</a>.
</p>
{% endif %}

<!--
    Modify the block below if there are any special requirements.
-->
<p>
  <strong>Requirements:</strong>
  Participants must bring a laptop with a few specific software packages installed
  (listed below).
</p>

<!--
    This block automatically inserts a contact email address if one has been specified for the page.
    If one hasn't, this block inserts the generic contact address for Software Carpentry.
-->
<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>
<p>
  <strong>Register</strong>:
  Seats are limited, but registration is free and open to anyone who identifies 
  as female. To register, please go to the 
    <a href='http://www.eventbrite.com/e/wise-san-francisco-software-carpentry-bootcamp-registration-10121606999'>Eventbrite Page.</a>
    Once you have registered, please fill out the <a 
      href="https://docs.google.com/forms/d/1jwpa1ZskVyaIBCcfQF1Lz7TX-dYZl9ZUzq5zRrIXHjQ/viewform">skills 
    survey</a> so that you can be placed in a room that targets your skillset.
</p>
<hr/>


<h2>Tracks</h2>

<table class="table table-striped">
  <tr> <td>Novice</td>  <td>Room1</td>  <td><a href='https://swcarpentry.github.io/2014-04-14-wise/novice/'>Novice Material</a> </td> </tr>
  <tr> <td>Intermediate</td>  <td>Room1</td>  <td><a href='https://swcarpentry.github.io/2014-04-14-wise/intermediate/'>Intermediate Material</a> </td> </tr>
  <tr> <td>Advanced</td>  <td>Room1</td>  <td><a href='https://swcarpentry.github.io/2014-04-14-wise/advanced/'>Advanced Material</a> </td> </tr>
</table>
<hr/>

<!--
    Edit the setup instructions in _includes/setup.html to reflect your bootcamp.
    (In particular, most bootcamps teach either Python or R, not both.)
-->

<h2>Setup</h2>

<p>
  To participate in a Software Carpentry bootcamp, 
  you will need working copies of the software described below.
  Please make sure to install everything
  (or at least to download the installers)
  <em>before</em> the start of your bootcamp.
</p>

{% include setup.html %}

<h2>Sponsors</h2>
<p>
Many thanks to our generous sponsors who made this bootcamp possible:
</p>
<div class="row-fluid">
    <div class="span6">
      <center>
      <a href="http://www.numfocus.org"><img class="logo"
        src="img/sponsors/numfocus.jpg" width="250" alt="NumFOCUS"></a><br />
      <a href="http://www.monsanto.com"><img class="logo" src="img/sponsors/monsanto.png" 
        width="250" alt="Monsanto"></a>
    </center>
    </div>
    <div class="span6">
      <center>
        <a href="http://www.rackspace.com"><img class="logo" 
          src="img/sponsors/rackspace.jpg" width="250" alt="Rackspace"></a>
      <a href="http://www.github.com"><img class="logo" 
        src="img/sponsors/github.png" width="250" alt="GitHub"></a>
    </center>
    </div>
    <div class="span4 offset4">
      <center>
      <p>
      <a href="http://www.lbl.gov"><img class="logo" 
        src="img/sponsors/lbnl.png" width="200" 
        alt="Lawrence Berkeley National Labs"></a><br />
      And a special thank you to <a href="http://www.lbl.gov">Lawrence 
        Berkeley National Lab</a> for providing a space for this workshop.
      </p>
    </center>
    </div>
</div>
