<p>
  <strong>Register</strong>:
  Seats are limited, but registration is free and open to anyone. To register, please go to the 
    <a href='http://www.eventbrite.com/e/wise-san-francisco-software-carpentry-bootcamp-registration-10121606999'>Eventbrite Page.</a>
    Once you have registered, please fill out the <a 
      href="https://docs.google.com/forms/d/1jwpa1ZskVyaIBCcfQF1Lz7TX-dYZl9ZUzq5zRrIXHjQ/viewform">skills 
    survey</a> so that you can be placed in a room that targets your skillset.
</p>
